*{
	overflow: hidden;
	font-size: 1.5vw;
	font-family: "Lucida Console", "Courier New", monospace;
	color: #DAD9D9;
}
html {
	height: 100vh;
	width: 100vw;
	background-color: #57595b;
}
.nav a{
	font-size: 1.4vw;
	text-decoration: none;
}
.nav a:hover{color: #027bce;}
.nav a:before {
	content: "<";
	margin-right: 5px;
	display: inline-block;
	opacity: 0;
	-webkit-transform: translateX(10px);
	-moz-transform: translateX(10px);
	transform: translateX(10px);
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
}
.nav a:after {
	content: ">";
	margin-left: 5px;
	display: inline-block;
	opacity: 0;
	-webkit-transition: -webkit-transform 0.3s, opacity 0.2s;
	-moz-transition: -moz-transform 0.3s, opacity 0.2s;
	transition: transform 0.3s, opacity 0.2s;
	-webkit-transform: translateX(-10px);
	-moz-transform: translateX(-10px);
	transform: translateX(-10px);
}
.nav a:hover:before,.nav a:hover:after {
	opacity: 1;
	-webkit-transform: translateX(0px);
	-moz-transform: translateX(0px);
	transform: translateX(0px);
}
.terminal textarea{
	position: bottom;
	resize: none;
	border-radius: 1vw;
	font-size: 1.4vw;
	overflow: scroll;
	border-color: transparent;
	background-color: #1F1F27;
	bottom: 0vh;
	width: flex;
	text-align: left;
	outline: none;
	text-indent: 0.3vw;
}
.terminal textarea:focus{
	border-color: #219ebc;
}

::selection {
	background-color: #0077b6;
	color: #DAD9D9;
}
::-moz-selection {
	background-color: #0077b6;
	color: #DAD9D9;
}
.term-window{
	cursor: move;
	border-radius: 1.5vw;
	background-color: #868788;
	height: fit-content;
	width: fit-content;
	position: absolute;
}

.nav button{
	background-color: black;
}
